[Unit]
Description=Persian Discord Bot
Documentation=None.
After=network.target

[Service]
Type=simple
#User=ubuntu
ExecStart=/usr/bin/node /bots/discord-bots/persian-bot/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target